<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card px-3">
          <div class="card-body">
            <h4 class="card-title">Yeni Ekle</h4>
            <div class="add-items d-flex">
              <input
                type="text"
                class="form-control todo-list-input"
                placeholder=" Bugün  Yapman Gerekiyor?"
                [formControl]="todoControl"
              />
              <button
                class="add btn btn-primary font-weight-bold todo-list-add-btn"
                (click)="addItem()"
              >
                Ekle
              </button>
            </div>
            <div class="list-wrapper">
              <ul class="d-flex flex-column-reverse todo-list">
                <li [class]="item?.status ? 'completed':''" *ngFor="let item of todoList;">
                  <div class="d-flex justify-content-beetwen">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" [checked]="item?.status" (change)="checked(item)"/>
                        {{ item?.title }}
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </div>
                  <b style="position: absolute; right: 25px" class="btn" (click)="deleteItem(item)">X</b>
                </li>
           
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
